<div id="result">

</div>

<script>
    $(document).ready(
        function () {
            $("#search_button").on("click", function () {
                var datas = $("#query").val();
                $(".search-bar").addClass("searching");
                $.ajax({
                    type: "GET",
                    url: "videos_Search",
                    dataType: "json",
                    data: {
                        query: datas
                    },
                    success: function (result) {
                        if (result.status == "success") {
                            search_data = JSON.parse(result.data);
                            console.log(search_data);
                            result = search_data['items'];
                            console.log(result);
                            $("#result").text("");
                            result.forEach(function (each) {
                                $("#result").append('<div class="row"><div class="col-sm-4"><a href="http://www.youtube.com/watch?v='+ 
                                each.id.videoId+'"><img src="' + each.snippet.thumbnails.high.url + 
                                '" alt="image" width="100%"><div class="container"></a><h5>' 
                                + each.snippet.title +'</h5></div></div></div>');
                            });
                        }
                        else if (result.status == "failure") {
                        $("#result").text("Please try again");
                        }

                    }
                });
            });
        });
</script>