<h1>Youtube DATA API</h1>
<p>lets get it started</p>


<%= form_tag videos_Search_path, :id => 'search_videos' do %>
<input type="text" placeholder="Search" name="query" >
<%= submit_tag "Save", class: "btn btn-primary" %>
<% end %>

